body{
    background: black;
    font: 15px/22px arial, sans-serif;
    margin: 0px;
    clear: both;	
}
header{
	background-color: black;
	border-radius: 5px;
}

.icon-bar{
	background: white;
}
ul li a{
  color: white;
   margin-left: 0px;
  }

  